.favorite{

    color: blue !important;
}


.pantalla{
    height: 20%;
    background-color: rgba(0,0,0,0.34);
    color: white;
    font-size: 350%;
    font-weight: 200;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-content: center;
    box-sizing: border-box;
    padding: 0 5px 40px 0;
    border-bottom:1px solid rgba(0,0,0,0.2);
    .memory{
        width: 100%;
        padding: 5px 0 0 5px;
        font-size: 20%;
    }
}
.botones{
    display: flex;
    flex-flow: row;
    height: 100%;
}
.parteDerecha, .parteIzquierda{
    display: flex;
    flex-flow: row wrap;
}
.parteIzquierda{
    .btn{
        display: inline-block;
    }
    width: 75%;
}

.parteDerecha{
    width: 25%;
    height: 100%;
    .btn{
        display: block;
        width: 100%;
        text-align: center !important;
        background-color: #ff9400;
        color: white;
        line-height: 52px;
        padding: 0;
    }
}

.btn {
  width: 33.3333%;
  height: 20%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  text-align: center !important;
  padding-top: 10%;
  &.gordito {
    width: 66.6666% !important;
  }
}

.absolute{
    position: absolute;
}

.pressedBtn {
  animation-name: pressed;
  animation-duration: 0.3s;
}

@keyframes pressed {
  from {
    box-shadow: inset 0 0 15px rgba(0,0,0,0.4);
  }
  to {
    box-shadow: inset 0 0 0px #000000;
  }
}
