<!--div *ngFor="let attribute of player; let i = index">
    <div>{{attribute}}</div>
</div-->
<div class="player">Nombre: {{playerService.player.name | nullAttr}}</div>
<div class="player">Sinónimo: {{playerService.player.synonyms | nullAttr}}</div>