.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  h1{
    text-align: center;
  }
}

app-calculadora {
  margin: 5px;
  width: 250px;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
}

app-cuaderno {
  margin: 5px;
  width: 250px;
  background-color: #fff3d1;
  padding: 20px;
  height: 350px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
}

/* WORLD CUP*/

.menu{
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.coolBtn{
  display: flex;
  width: 180px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  flex-flow: column;
  justify-content: flex-start;
  margin: 0 5px;
  cursor: pointer;
  transition: border 0.5s ease;
  .imgContainer{
    height: 260px;
  }
  .btnName{
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.coolBtn:hover{
  border: 1px solid rgba(0, 0, 0, 0.8);
}